@use "shop.scss" as *;

#trending {
    width: 100%;
    height: 900px;

    margin: {
        top: 10%;
        bottom: 10%;
    }

    padding: {
        left: 5%;
        right: 5%;
    }

    .trending-heading {
        width: 100%;
        height: 5%;
        margin-bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        >span {
            text-transform: uppercase;
            margin-right: 2%;
            background-color: #f5f5f5;
            width: 12%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                color: $forth-color;
            }

            &.active {
                background-color: $forth-color;
                color: #fff;
            }
        }

    }

    .trending-content {
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: flex-start;
        margin-bottom: 2.5%;

        >div {
            width: 22%;
            height: 30%;
            background-color: #f5f5f5;
            border-radius: 15%;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 70% 30%;
            cursor: pointer;

            margin: {
                right: 2.5%;
                bottom: 2.5%;
            }

            &:hover {
                .info {
                    .img {
                        background-color: $second-color;
                    }

                    p {
                        color: $primary-color;
                    }
                }
            }

            .img {
                img {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 20%;
                    border-top-right-radius: 20%;
                }

                position: relative;

                span {
                    position: absolute;
                    right: 10%;
                    top: 10%;
                    background-color: $three-color;
                    color: #fff;
                    padding: 2% 5%;
                    border-radius: 10px;
                }
            }

            .info {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                padding: {
                    left: 10%;
                    right: 10%;
                }

                .text {
                    h6 {
                        text-transform: capitalize;
                    }

                    p {
                        text-transform: capitalize;
                        font-weight: bold;
                    }
                }

                .img {
                    width: 20%;
                    background-color: $forth-color;
                    border-radius: 50%;
                    padding: 3%;
                }
            }
        }
    }

    .trending-footer {
        width: 100%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        >div {
            width: 4%;
            height: 100%;
            background-color: #f5f5f5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2%;
            font-weight: bold;
            cursor: pointer;

            &.active {
                background-color: $three-color;
                color: #fff;
            }

            &:hover {
                background-color: $three-color;
                color: #fff;
            }
        }
    }

    @media (max-width:992px) {
        height: 2100px;

        .trending-heading {
            height: 2%;

            span {
                font-size: 12px;
            }
        }

        .trending-content {
            height: 90%;
            flex-wrap: wrap;

            >div {
                width: 45%;
                height: calc(90% / 6);
                margin-bottom: 2%;
            }
        }

        .trending-footer {
            height: 1.5%;
            font-size: 10px;
        }
    }

    @media (max-width:767px) {
        height: 4000px;

        .trending-heading {
            height: 1%;

            span {
                width: 20%;
                font-size: 8px;
            }
        }

        .trending-content {
            height: 95%;
            flex-wrap: wrap;

            >div {
                width: 100%;
                height: calc(90% / 12);
                margin-bottom: 2%;
            }
        }

        .trending-footer {
            height: 0.5%;
            font-size: 8px;
        }
    }
}